@import url('https://fonts.googleapis.com/css2?family=Anta&family=Orbitron');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "anta";
    font-size: 12px;
    font-weight: bolder;
    color: var(--grisTexto);
    letter-spacing: 2px;
    user-select: none;
}

:root {
    --transicion: .8s ease-in-out;
    --cuadrado: 32px;
    --borderRadius: 4px;
    --grisTexto: rgb(92, 92, 92);
    --grisClaro: rgba(128, 128, 128, .2);
    --colorEnfasis_1: rgb(97, 136, 146);
    --colorEnfasis_2: rgb(85, 85, 85);
    --blancoTransludico: rgb(255, 255, 255, .2);
    --negroTranslucido: rgba(0, 0, 0, 0.8);
    --botonTransicion: .3s;
}

/* clases predefinidas */
.inputOculto {
    position: absolute;
    appearance: none;
    width:100%;
    height: 100%;
    cursor: pointer;
}

.borderRadiusGrey {
    border: 1px solid var(--grisClaro);
    border-radius: var(--borderRadius);
} 

.flexCentrado {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cristalOscuro {
    background-color: var(--negroTranslucido);
    backdrop-filter: blur(4px);
}

.cristalClaro {
    background-color: rgba(255, 255, 255);
    /* backdrop-filter: blur(4px); */
}

.botonCuadrado {
    position: relative;
    width: 32px;
    height: 32px;
    color: var(--grisTexto);
    font-weight: bolder;
    transition: var(--botonTransicion);
    
    &:hover,
    &:has(input[type="radio"]:checked) {
        color: white;
        background-color: var(--colorEnfasis_1);
        border-color: var(--colorEnfasis_1);
    }

    input[type="radio"] {
        position: absolute;
        appearance: none;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
}
/* fin de clases predefinisda */

body {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    background-color: rgb(8, 8, 29);
    display: flex;
    align-items: center;

    .contenedorFondo {
        position: absolute;
        width: 100vw;
    }

    .texto {
        width: 60%;
        height: 30%;
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(10px);
    }

    .panelConfiguracion {
        position: absolute;
        left: -310px;
        width: 310px;
        height: calc(100% - 30px);
        border-left: none;
        padding: 22px;
        transition: var(--transicion);

        .configuracion {
            position: relative;
            width: 100%;
            height: 100%;
            perspective: 1800px;
            overflow: hidden;

            .seccionesLista {
                display: flex;
                justify-content: space-between;
                width: 100%;
                color: grey;
                margin-bottom: 10px;

                .seccion {
                    width: var(--cuadrado);
                    aspect-ratio: 1/1;
                }
            }

            &:has(.botonCuadrado:first-child input:checked) fieldset:first-of-type, 
            &:has(.botonCuadrado:nth-of-type(2) input:checked) fieldset:nth-of-type(2), 
            &:has(.botonCuadrado:nth-of-type(3) input:checked) fieldset:nth-of-type(3), 
            &:has(.botonCuadrado:nth-of-type(4) input:checked) fieldset:nth-of-type(4), 
            &:has(.botonCuadrado:nth-of-type(5) input:checked) fieldset:nth-of-type(5), 
            &:has(.botonCuadrado:nth-of-type(6) input:checked) fieldset:nth-of-type(6) { 
                left: 0; 
            }

            &:has(.botonCuadrado:first-child input:not(:checked)) fieldset:first-of-type, 
            &:has(.botonCuadrado:nth-of-type(2) input:not(:checked)) fieldset:nth-of-type(2), 
            &:has(.botonCuadrado:nth-of-type(3) input:not(:checked)) fieldset:nth-of-type(3), 
            &:has(.botonCuadrado:nth-of-type(4) input:not(:checked)) fieldset:nth-of-type(4), 
            &:has(.botonCuadrado:nth-of-type(5) input:not(:checked)) fieldset:nth-of-type(5), 
            &:has(.botonCuadrado:nth-of-type(6) input:not(:checked)) fieldset:nth-of-type(6) { 
                left: 120%;
            }

            fieldset {
                border: none;
                position: absolute;
                left: 100%;
                top: 40px;
                width: 100%;
                height: calc(100% - 94px);
                transition: 1s;
                transform-origin: left;
                transform-style: preserve-3d;

                .tituloSeccion  {
                    width: 100%;
                    height: 30px;
                    background-color: var(--grisTexto);
                    color: white;
                    font-size: 18px;
                    border-radius: var(--borderRadius);
                    margin: 20px 0 40px 0;
                }

                .controlesConfiguracion {
                    position: relative;
                    width: 100%;
                    height: calc(100% - 90px);
                    color: grey;
                    overflow-y: auto;
                    /* firefox */
                    scrollbar-width: none;

                    .contenedorRango {
                        position: relative;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        height: 44px;
                        margin-bottom: 50px;

                        .cajaIzq {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            width: 74%;
                            height: 100%;
                        }

                        .cajaDer {
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            width: 50px;
                            height: 35px;
                            overflow: hidden;

                            .valorInput {
                                width: 100%;
                                height: 100%;
                            }    
                        }
    
                        input[type="range"] {
                            width: 100%;
                            background: transparent;
                            cursor: pointer;

                            &:hover::-moz-range-thumb {
                                background-color: var(--colorEnfasis_2);
                                border-color: var(--colorEnfasis_2);
                            }

                            &::-moz-range-track {
                                height: 2px;
                                border: 1px solid var(--grisClaro);
                                border-radius: 4px;
                                background-color: transparent;
                            }

                            &::-moz-range-thumb {
                                box-sizing: border-box;
                                width: 24px;
                                height: 12px;
                                border: 1px solid rgb(189, 189, 189);
                                border-radius: 3px;
                                background-color: white;
                                transition: .5s;
                                background-image: url();
                            }
                        }
                    }
                }
            }    
        }

        .presets {
            position: absolute;
            display: flex;
            justify-content: space-between;
            bottom: 22px; /* padding contenenedor */
            left: 22px;
            width: calc(100% - 44px);
            height: auto;
        }
    }

    .interruptor {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: -40px;
        width: var(--cuadrado);
        aspect-ratio: 1/4;
        font-weight: bold;
        writing-mode: vertical-lr;
        color: grey;
        letter-spacing: 4px;
        transition: var(--transicion);

        input {
            position: absolute;
            appearance: none;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
    }

    .panelConfiguracion:has(.interruptor input:checked) {
        left: 15px;

        .interruptor {
            top: calc(100% - var(--cuadrado) * 4 + 1px);
            color: var(--colorEnfasis_1);
            /* background-color: var(--negroTranslucido); */
        }
    }

    .seleccionFondo {
        position: absolute;
        bottom: 0;
        padding: 10px 20px;
        border-radius: 8px;

        .listaFondos {
            display: flex;

            .botonCuadrado {
                margin: 6px;
            }

            .botonCuadrado:has(.inputOculto:checked) {
                width: 200px;
            }
        }
    }
}