* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(8, 8, 29);
    display: flex;
    align-items: center;

    .contenedorFondo {
        position: absolute;
        width: 100vw;
        height: 100vh;
    }
}